.home-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.home-left {
    width: 40%;
    height: 80vh;
    /* border: 2px solid black; */
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
}

.home-left span h1 {
    transform: translate(0, 6rem);
    font-size: 5rem;
    background: linear-gradient(to top left, #800000, #ff5733);
    -webkit-background-clip: text;
    color: transparent;
}

.home-left h1 {
    transform: translate(0, 6rem);
    font-size: 5rem
}

.home-left p {
    transform: translate(0, 8rem);
    font-size: 1.2rem;
    color: rgb(102, 101, 101);

}

.home-page-booking {
    width: 60vw;
    height: 12vh;
    transform: translate(0, 12rem);
    /* border: 2px solid black; */
}

.home-reservation-form {
    display: flex;
    flex-direction: row;
}

.home-form-group {
    margin-right: 20px;
}

.home-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.home-form-group input,
.home-reservation-form button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.home-reservation-form button {
    background-color: #008080;
    color: white;
    cursor: pointer;
}

.home-reservation-form button:hover {
    background-color: #006666;
}

.home-right {
    width: 35%;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(to top left, #800000, #ff5733);
    border-radius: 70px 70px 0px 0px;
}

.home-right img {
    width: 100vw;
    height: 60vh;
    transform: translate(-9rem, 5rem);

}